
body{
    font-family: 's-s' , sans-serif;
    font-size: 25px;
}
#names{
    background-color: cadetblue;
    color: brown;
    text-align: center;
    font-weight: 200;
    font-family: monospace;
    font-style: oblique;
    padding: 20px;
    height: 25px;
    /* position: fixed; */
    width: 38%;
    top: 0%;
}
#aboutme{
    color: fuchsia;
    text-align: left;
    font-style: italic;
    
}
#cop{
    background-color: gold;
    width: 37%;
    color: rgb(20, 22, 20);
    font-style: inherit;

}
#mov{
    color: rgb(185, 55, 55);
    background-color: lightgreen;
}
/* section p.some-content {
    background-color: azure;
} */
#goal{
    color: rgb(245, 113, 61);
}
#ru{
    color: rgb(136, 34, 82);
}
.movies{
    background-color: rgb(31, 51, 51);
    color: darkorange;
}
#doc{
    background-color: firebrick;
    color: rgb(13, 24, 24);
}