body{
    background-color: aquamarine;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    background-color: cadetblue;
}
section p.some-content {
    background-color: azure;
}
#goal{
    color: blue;
}
#ru{
    color: rgb(136, 34, 82);
}
.movies{
    background-color: rgb(31, 51, 51);
    color: darkorange;
}
#doc{
    background-color: firebrick;
    color: darkturquoise;
}